.custom_link_active {
	background-color: #555;
}

.unpressed {
	border-radius: 50px;
	background: #e8e8f3;
	/* background: linear-gradient(145deg, #f8f8ff, #d1d1db); */
	box-shadow: 5px 5px 10px #ccccd6,
		-5px -5px 10px #ffffff;
}

.pressed {
	border-radius: 50px;
	background: #e8e8f3;
	box-shadow: inset 5px 5px 10px #ccccd6,
		inset -5px -5px 10px #ffffff;
}